div.words {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
        color: #1D4645;
        font-size: 64px;
    }

    a {
        text-decoration: none;
        color: #1D4645;
        padding: 12px 16px;
        font-weight: bold;
        border: 2px solid #1D4645;
        transition: 0.5s all;
        border-radius: 4px;
    }

    a:hover {
        background-color: #1D4645;
        color: white;
    }
}

@media (max-width:576px) {
    div.words {
        flex-direction: column;

        a {
            margin-bottom: 30px;
        }
    }
}

div.categories {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 20px;

    a.subject {
        text-decoration: none;

        display: flex;
        flex-direction: column;
        gap: 8px;
        background-color: #FFF2E6;
        padding: 32px;

        div {
            border-radius: 30%;
        }

        h2 {
            margin: 0;
            color: #1D4645;
        }

        div>img {
            width: 100px;
            /* height: 100px; */
            border-radius: 50%;
        }

        p {
            opacity: 0.6;
            color: black;
        }

    }
}

@media (max-width:576px) {
    div.categories {
        grid-template-columns: repeat(1, auto);
    }
}