header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;
    z-index: 1;
}

div.dropdown {
    display: none;
}

div.bars {
    font-size: 24px;
    display: none;
    cursor: pointer;
}

div.head {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 16px 0px;
    align-items: center;

    div.links {
        display: flex;
        gap: 24px;

        a {
            text-decoration: none;
            color: black;
            padding: 8px 16px;
        }
    }

    a.login {
        color: #1D4645;
        background-color: white;
        border: 1px solid #1D4645;
        border-radius: 4px;
        padding: 8px 16px;
        transition: 0.5s all;
        text-decoration: none;
    }

    a.logout {
        display: none;
        color: #1D4645;
        background-color: white;
        border: 1px solid #1D4645;
        border-radius: 4px;
        padding: 8px 16px;
        transition: 0.5s all;
        text-decoration: none;
    }

    a.login:hover {
        background-color: #1D4645;
        color: white;
    }

    a.logout:hover {
        background-color: #1D4645;
        color: white;
    }
}

.container {
    margin: auto;
}

div.dropdown.active {
    display: block;
    position: absolute;
    top: 59px;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

div.dropdown a {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    color: black;
}

div.dropdown a:hover {
    background-color: #ddd;
}

a.logo i {
    font-size: 26px;
}

a.logo img {
    width: 20px;
}

a.logo {
    user-select: none;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    gap: 8px;
    letter-spacing: 3px;
}

@media (max-width:992px) {
    div.bars {
        display: block;
        justify-self: right;
    }

    div.lefticon {
        display: flex;
        gap: 16px;
        align-items: center;
    }

    div.links {
        display: none !important;
    }
}

@media (max-width:576px) {
    div.dropdown.active {
        left: 0;
        right: 0;
    }
}